.ue-container {
	   width: 50%;
	   margin: 3% auto;
	   padding: 20px 40px;
	   /* border: 1px solid #ddd;
	   background: #fff; */
   }
.zx_treeD{
    width: 100%;
    height: 220px;
    float: left;
    overflow: scroll;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 5px 0px;
    
}
.border_s{
    border: 1px solid #e0dfdf;
}
.zx_trInput{
    margin: 0px 0px 5px 0px;
}
.zX_box{
    width: 600px;
    margin: 0 auto;
    text-align: left;
}
.zX_transfer{
    width: 100%;
    height: 540px;
    position: relative;
    overflow: hidden;
}
.zX_transfer-left{
    border: 1px solid #ebeef5;
    width: 40%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
}
.zX_transfer-center{
    position: absolute;
    top: 50%;
    left: 40%;
    width: 20%;
    transform: translateY(-50%);
    text-align: center;
}
.zX_transfer-center-item{
    padding: 10px;
}

.zX_up{
    width: 46px;
    height: 46px;
    margin: auto;
    color: #fff;
    background-color: #409eff;
    border-color: #409eff;
    border-radius: 50%;
    padding: 12px;
    cursor: pointer;
}
.zX_transfer-right{
    border: 1px solid #ebeef5;
    width: 40%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    vertical-align: middle;
    position: absolute;
    top: 0;
    right: 0;
}
.zX_transfer-title{
    border-bottom: 1px solid #ebeef5;
    padding: 0 5px;
    height: 40px;
    line-height: 40px;
    color: #333;
    font-size: 16px;
    background-color: #f5f7fa;
    margin:0px;
}

.zX_transfer-main{
    padding: 10px;
    height: calc(100% - 41px);
    box-sizing: border-box;
    overflow: auto;
}
.el-input--small .el-input__inner {
    height: 32px;
    line-height: 32px;
}
.el-input__inner {
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    /* font-size: inherit; */
    height: 32px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
}

